:root {
    font-family: 'Roboto Mono', monospace;
    --paragraph: 'Roboto', sans-serif;
    --digital-font: 'VT323', monospace;
    color: white;
}

body {
    background-color: rgb(17, 6, 17);
    background-color: black;
    /* background-color: #111; */
    overflow-x: hidden;
}

.capture-container {
    width: 95vw;
    height: 95vh;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin: auto;
    z-index: 1;
}




span {
    display: block;
}

.banner-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("images/banner.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(32px);
    filter: blur(32px);
    box-shadow: inset 0 0 128px 128px black;
    overflow: hidden;
}

.banner-container {
    margin: auto;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 6rem;
}

.banner {
    margin: auto;
    width: 80ch;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    perspective: 20px;
    animation: glitch 5000ms infinite;
    box-shadow: none;
    overflow: hidden;
}

@-webkit-keyframes glitch {
    4% {
        transform: translate(-48.5%, -50%);
    }
    5% {
        transform: translate(-50%, -50%);
        -webkit-filter: drop-shadow(0rem -8px 0px rgba(0, 0, 255, 0.7)) drop-shadow(-8px -8px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 8px 0px rgba(0, 255, 0, 0.7)) blur(8px);
        filter: drop-shadow(0rem -8px 0px rgba(0, 0, 255, 0.7)) drop-shadow(-8px -8px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 8px 0px rgba(0, 255, 0, 0.7)) blur(8px);
    }
    6% {
        transform: translate(-50%, -50%);
        -webkit-filter: drop-shadow(0rem -8px 0px rgba(0, 0, 255, 0.7)) drop-shadow(-8px -8px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0rem 0px rgba(0, 255, 0, 0.7)) blur(8px);
        filter: drop-shadow(0rem -8px 0px rgba(0, 0, 255, 0.7)) drop-shadow(-8px -8px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0rem 0px rgba(0, 255, 0, 0.7)) blur(8px);
    }
    7% {
        transform: translate(-48.5%, -50%);
        -webkit-filter: drop-shadow(0rem -8px 0px rgba(0, 0, 255, 0.7)) drop-shadow(-8px -8px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0rem 0px rgba(0, 255, 0, 0.7)) blur(8px);
        filter: drop-shadow(0rem -8px 0px rgba(0, 0, 255, 0.7)) drop-shadow(-8px -8px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0rem 0px rgba(0, 255, 0, 0.7)) blur(8px);
    }
    8% {
        transform: translate(-50%, -50%);
    }
    9% {
        transform: translate(-48.5%, -50%);
        -webkit-filter: drop-shadow(0rem 0rem 0px rgba(0, 0, 255, 0.7)) drop-shadow(0rem 0rem 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0rem 0px rgba(0, 255, 0, 0.7)) blur(4px);
        filter: drop-shadow(0rem 0rem 0px rgba(0, 0, 255, 0.7)) drop-shadow(0rem 0rem 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0rem 0px rgba(0, 255, 0, 0.7)) blur(4px);
    }
    10% {
        transform: translate(-50%, -50%);
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    11% {
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }
    15% {
        -webkit-filter: blur(8px);
        filter: blur(8px);
    }
    16% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    54% {
        transform: translate(-50%, -50%) scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    55% {
        transform: translate(-100%, -50%) scale(0.9);
        -webkit-filter: blur(8px);
        filter: blur(8px);
    }
    56% {
        transform: translate(-00%, -100%) scale(0.999);
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    57% {
        transform: translate(-50%, -50%);
    }
    78% {
        transform: translate(-50%, -50%);
    }
    79% {
        transform: translate(-100%, -50%) scale(1);
    }
    80% {
        transform: translate(-80%, -100%) scale(2);
    }
    81% {
        transform: translate(-50%, -50%);
    }
    82% {
        transform: translate(-50%, -50%);
    }
    90% {
        -webkit-filter: drop-shadow(0rem 0px 0px rgba(0, 0, 255, 0.7)) drop-shadow(0px 0px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0px 0px rgba(0, 255, 0, 0.7));
        filter: drop-shadow(0rem 0px 0px rgba(0, 0, 255, 0.7)) drop-shadow(0px 0px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0px 0px rgba(0, 255, 0, 0.7));
    }
    91% {
        transform: translate(-50%, -50%);
        -webkit-filter: drop-shadow(0rem -8px 0px rgba(0, 0, 255, 0.7)) drop-shadow(-8px -8px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0rem 0px rgba(0, 255, 0, 0.7));
        filter: drop-shadow(0rem -8px 0px rgba(0, 0, 255, 0.7)) drop-shadow(-8px -8px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0rem 0px rgba(0, 255, 0, 0.7));
    }
    92% {
        transform: translate(-70%, -70%) scale(1);
        -webkit-filter: drop-shadow(0rem -8px 0px rgba(0, 0, 255, 0.7)) drop-shadow(-8px -8px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0rem 0px rgba(0, 255, 0, 0.7));
        filter: drop-shadow(0rem -8px 0px rgba(0, 0, 255, 0.7)) drop-shadow(-8px -8px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0rem 0px rgba(0, 255, 0, 0.7));
    }
    93% {
        transform: translate(-100%, -100%) scale(2);
        -webkit-filter: drop-shadow(0rem 0rem 0px rgba(0, 0, 255, 0.7)) drop-shadow(0rem 0rem 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0rem 0px rgba(0, 255, 0, 0.7));
        filter: drop-shadow(0rem 0rem 0px rgba(0, 0, 255, 0.7)) drop-shadow(0rem 0rem 0px rgba(255, 0, 0, 0.7)) drop-shadow(0rem 0rem 0px rgba(0, 255, 0, 0.7));
    }
    94% {
        transform: translate(-50%, -50%);
    }
}

.banner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;
    align-self: center;
}

.banner-text span,
.banner-text h1 {
    font-family: var(--digital-font);
    font-size: 2rem;
    font-variant: small-caps;
    text-shadow: 0 0 4px #FFFFFF;
}

.banner-text h1 {
    font-size: 3rem;
    letter-spacing: 0.5ch;
}

.banner img {
    perspective: 40px;
    width: 100%;
}
main {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    padding: 1rem;
    gap: 3rem;
    border-radius: 16rem;
}
article {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: top;
    align-content: top;
    align-self: top;
    gap: 1rem;
    width: max-content;

    /* border: solid white 1rem; */
    background-color: rgb(2,2,2);
    border-radius: 0.2rem;
    box-shadow: inset 0 0 8rem 2rem rgb(8, 7, 8) , 0 0 3rem 1rem rgb(10, 0, 10);
    /* box-shadow: inset 0 0 2rem 2rem rgb(17, 7, 17) , 0 0 3rem 1rem rgb(8, 3, 8); */
    padding: 4rem;
    transition: transform ease-in-out 500ms;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
article::before{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    backdrop-filter: blur(0.5rem);
    z-index: 0;
}
article>*{
    z-index: 1;
}
article:hover{
    transform: scale(1.1);
}



article img {
    filter: drop-shadow(0 0 1rem rgb(255,255,255,0.3));
    /* box-shadow: 0 0 1rem 0 white; */
    max-height: 360px;
    min-width: 128px;
    min-height: 128px;
    height: 100%;
    height: 300px;
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
    order: 1;
}

article p {
    font: var(--paragraph);
    font-size: 1.5rem;
}

article .text {
    width: 100%;
    max-width: 640px;
    padding: 2rem;
    order: 2;
}

article .title {
    font-family: var(--digital-font);
    font-size: 3rem;
    position: relative;
    display: inline-block;
    text-shadow: 0 0 4px #FFFFFF;
}

article h2::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

article a {
    color: white;
    font-size: 2rem;
    margin-right: 1rem;
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 6rem;
    gap: 2rem;
    position: relative;
    padding-top: 6rem;
}

footer::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    box-shadow: 0 0 4px 0 #ffffff;
}

@media only screen and (min-width: 150ch) {
    /* article{
        flex-direction: row;
        justify-content: stretch;
    }
    article.flipped .text {
        order: 0;
        text-align: right;
    } */
    main{
        
    padding: 4rem;
    }
}