:root {
    font-family: 'Roboto Mono', monospace;
    --paragraph: 'Roboto', sans-serif;
    --digital-font: 'VT323', monospace;
    color: white;
    font-size: 75%;
}

body {
    background-color: rgb(12, 9, 12);
    overflow-x: hidden;
}

span {
    display: block;
}


.banner-container {
    margin: auto;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 6rem;
}

.banner {
    margin: auto;
    width: 50ch;
    max-width: 95vw;
    top: 50%;
    left: 50%;

    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: none;
    overflow: hidden;

    max-height: 100vh;
    min-height: 240px;

    display: flex;
    flex-flow: column nowrap;
}

.banner-text {
    margin: 1rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;
    align-self: center;
}

.banner-text span,
.banner-text h1 {
    font-family: var(--digital-font);
    font-size: 1.5rem;
    font-variant: small-caps;
    text-shadow: 0 0 4px #FFFFFF;
}

.banner-text h1 {
    font-size: 2rem;
    letter-spacing: 0.5ch;
}

.banner img {
    overflow: hidden;
    border-radius: 50%;
    filter: invert() ;
    margin: auto;
    min-width: 128px;
    max-width: 480px;
    width: auto;
    transform: translateX(-2%);
}

main {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    padding: 1rem;
    gap: 3rem;
    border-radius: 16rem;
}

article {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: top;
    align-content: top;
    align-self: top;
    gap: 1rem;
    min-width: 128px;
    width: max-content;
    max-width: 80vw;
    /* border: solid white 1rem; */
    background-color: rgb(2, 2, 2);
    border-radius: 0.2rem;
    box-shadow: inset 0 0 8rem 2rem rgb(8, 7, 8), 0 0 3rem 1rem rgb(10, 0, 10);
    /* box-shadow: inset 0 0 2rem 2rem rgb(17, 7, 17) , 0 0 3rem 1rem rgb(8, 3, 8); */
    padding: 4rem;
    transition: transform ease-in-out 300ms;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

article::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5rem);
    background-position: center;
    z-index: 0;
}

article>* {
    z-index: 1;
}


article img {
    filter: drop-shadow(0 0 1rem rgb(255, 255, 255, 0.3));
    /* box-shadow: 0 0 1rem 0 white; */
    /* height: 200px; */
    max-height: 200px;
    min-height: 64px;
    -o-object-fit: contain;
    object-fit: contain;
    order: 1;
}

article p {
    font: var(--paragraph);
    font-size: 0.8rem;
}

article .text {
    width: 100%;
    max-width: 50ch;
    padding: 1rem;
    order: 2;
}

article .title {
    font-family: var(--digital-font);
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    text-shadow: 0 0 4px #FFFFFF;
}

article h2::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

article a {
    color: white;
    font-size: 1rem;
    margin-right: 1rem;
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 6rem;
    gap: 2rem;
    position: relative;
    padding-top: 6rem;
}

footer::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    box-shadow: 0 0 4px 0 #ffffff;
}

footer h1{
    font-size: 1rem;
}

@media only screen and (min-width: 100ch) {
     :root {
        font-size: 100%;
    }
    main {
        padding: 4rem;
    }
    article:hover{
        transform: scale(1.1);
    }
    article .title {
        font-size: 2rem;
    }
    article p{

        font-size: 1rem;
    }
    footer h1{
        font-size: 2rem;
    }
}